<%= javascript_include_tag 'wysiwyg_manager' %>

<h1>Create Motion</h1>

<%= form_for(@motion, url: motions_path, html: { class: 'form-horizontal' }) do |f| %>
  <div class="form-group">
    <%= f.label :subject, class: 'col-md-3 control-label' %>
    <div class="col-md-7">
      <%= f.text_field :subject, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'col-md-3 control-label' %>
    <div class="col-md-9">
      <%= f.text_area :description, rows: 10, class: 'form-control wysiwyg-textbox' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.submit "Create", class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
