<%= javascript_include_tag 'details_on_hover_manager' %>

<%= render partial: '/motion/motions', locals: { motion: @motion } %>

<% if current_user && @motion.responses.where(user: current_user).exists? %>
  <p class="label label-info">
    You have already registered your response. You can edit it <a href="#<%= "#{current_user.username}-response" %>">here</a>
  </p>
<% end %>
<br><br>

<% if @motion.multiple_fronts_enabled %>
  <span class="pull-right add-front-plus-sign">
    <%= link_to '', new_motion_front_path(m: @motion.id), class: 'btn btn-default btn-sm glyphicon glyphicon-plus', title: 'Add new front', :'data-toggle' => "tooltip", :'data-placement' => "left" %>
  </span>
<% end %>

<div class="motion-fronts">
  <div class="fronts-wrapper">
  <% @motion.fronts.each do |f| %>
    <div class="fronts">
      <%= render partial: 'front_with_responses', locals: {front: f, response: @response, motion: @motion} %>
    </div>
  <% end %>
  </div>

</div>
